[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-rtd-theme = "*"
sphinx = "*"

[packages]
fiona = "*"
geopandas = "*"
scikit-learn = "*"
xgboost = "*"
docopt = "*"
tabulate = "*"

[requires]
python_version = "3.7"
